.divNavBar{
	color: white;
	background-color: #1E22AA;
}

.panelHeader{
	background-color: #9FAEE5;
}

.help{
    border : 1px solid black;
    background : pink;
}

.ui-selecting{
    background:white;
}
.ui-selected{
    background:blue;
    color:#fff;
}